<div class="row">
  <div class="col-md-6">
    <div
      ba-panel
      ba-panel-title="<i class='fab fa-dropbox'>&nbsp;</i> Auto-Backup to Dropbox"
      ba-panel-class="with-scroll"
      class="dropbox-backup-plugin"
      >
      <form name='form' ng-submit="$parent.updateSettings(); form.$setPristine()">
        <div class="row">
          <div class="col-md-12">
            <p>Auto-generate backup and upload to Dropbox.</p>
            <div class="input-demo checkbox-demo padd-bottom">
              <label class="checkbox-inline custom-checkbox nowrap">
                <input type="checkbox" name="config" ng-model="$parent.enable_auto_backup">
                <span>
                  Enable
                </span>
              </label>
            </div>

            <div class="form-group" ng-class="{'has-error': !$parent.dropbox_access_token && form.$dirty && form.$invalid}">
              <label>
                Dropbox Access Token:
              </label>
              <input type="text" ng-model="$parent.dropbox_access_token" required class="form-control" placeholder="ybgvqA7kDawAAxxxxx......" ng-disabled="!$parent.enable_auto_backup"/>
              <span class="help-block">Refer to the <a href="javascript:$('#demo-video').focus()">demo video</a> on how to obtain an <strong>Access Token</strong></span>
            </div>

            <br/>
            <div class="row">
              <p style="margin-left:10px"><strong>Time of The Day {{$parent.time? "("+$parent.time+")":""}}</strong></p>
              <div class="col-md-3">
                <div class="form-group">
                  <label>Hour:</label>
                  <select class="form-control" ng-options="h as (h === 0? 12:h) for h in hours" ng-model="$parent.hour" ng-change="$parent.setTime()" ng-disabled="!$parent.enable_auto_backup"></select>
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group">
                  <label>Minute:</label>
                  <select class="form-control" ng-options="m as m for m in mins" ng-model="$parent.minute" ng-change="$parent.setTime()" ng-disabled="!$parent.enable_auto_backup"></select>
                </div>
              </div>

              <div class="col-md-2">
                <div class="form-group">
                  <label>&nbsp;</label>
                  <select class="form-control" ng-options="ap for ap in ampms" ng-model="$parent.ampm" ng-change="$parent.setTime()" ng-disabled="!$parent.enable_auto_backup"></select>
                </div>
              </div>
            </div>
            <br/>
            <div class="input-demo checkbox-demo padd-bottom">
              <label class="checkbox-inline custom-checkbox nowrap">
                <input type="checkbox" name="config" ng-model="$parent.backup_config" ng-disabled="!$parent.enable_auto_backup">
                <span>
                  Backup Configurations
                </span>
              </label>
            </div>
        
            <div class="input-demo checkbox-demo padd-bottom">
              <label class="checkbox-inline custom-checkbox nowrap">
                <input type="checkbox" name="database" ng-model="$parent.backup_database" ng-disabled="!$parent.enable_auto_backup">
                <span>
                  Backup Database
                </span>
              </label>
            </div>

            <button ladda="submitting" class="btn btn-primary" type="submit">
              Submit
            </button>
            &nbsp;&nbsp;
            <a href="javascript:void(0)" ng-click="$parent.testSettings()" ng-show="$parent.enable_auto_backup && $parent.hasValidConfig() && form.$pristine && form.$valid">Test Upload</a>
          </div>
        </div>
      </form>

    </div>
  </div>

  <div class="col-md-6">
    <h3>Demo video on how to obtain <strong>Access Token</strong></h3>
    <p>Given that you already have a Dropbox Account and you already logged in.</p>
    <p>Go to <a href="https://www.dropbox.com/developers/apps" target="_blank">https://www.dropbox.com/developers/apps</a>.</p>
    <p>Follow the demo video below to obtain your access token:</p>

    <video style="width:100%;height:auto;" controls tabindex="1" id="demo-video">
      <source src="/plugins/dropbox-backup/assets/demo.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>
</div>
